.CBContainer{
    border-radius: 15px;
    background-color: #fff;
    padding:  0px 15px;
    box-shadow: 
    inset -5px -5px 20px rgba(255, 255, 255, 0.5),
    inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 20px rgba(255, 255, 255, 0.5);
    width: 50vw;
    padding: 20px;
    margin-bottom: 20px;
}
.hljs-datatype {
  color: blue;  /* Customize the color as needed */
}