/* src/styles.css */
.code_show_main {
    margin: 15px auto;
    max-width: 800px;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #0e8388;
    border-radius: 8px;
    background-color: rgba(14, 14, 14, 0.08);
}


.code_show_main h3 {
    color:#0e8388 ;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.code_show_main h6{
    color: #9fb39f;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.code_show_main p {
    font-size: 1.1em;
    line-height: 1.5;
}

.code-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.code-container pre {
    padding: 15px;
    border-radius: 8px;
    background-color: #282c34;
    color: #ffffff;
    overflow-x: auto;
}
