@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* .overviewContainer{
    display: grid;
    grid-template-columns: 27.5% 72.5%;
}
.tableOfContent{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    width: 25vw;
    padding-top: 40px;
    align-items: flex-start;
    border-radius: 5%;
}
.tableOfContent li{
    margin-left: 15px;
}
.active-class{
    font-size: large;
    font-weight: bolder;
    color: #a09999;
}
.active-class:hover{
    color:#a09999;
}
.content{
    padding-top: 20px;
} */

.overviewContainer{
    width: 100vw;
}
/* .tableOfContent{
    display: flex;
    flex-direction: column;
    width: 23.5vw;
    position: fixed;
    height: 90vh;
    padding-top: 40px;
    align-items: flex-start;
    border-radius: 5%;
}
.tableOfContent li{
    margin-left: 15px;
}
.resizer{
    width: 10px;
    cursor: e-resize;
    height: 100%;
}
.resizer:hover{
    background-color: blueviolet;
}

.active-class{
    font-size: large;
    font-weight: bolder;
    color: #a09999;
}
.active-class:hover{
    color:#a09999;
} */
 #introduction{
    border-radius: 15px;
    width: 98.6vw;
    height: 90vh;
    background-image: linear-gradient(to bottom right , rgb(15, 76, 129), #00C6BB , #1C857E , rgb(116, 250, 200));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .key-features{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 25px;
 }
 .glass{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50%;
    box-shadow: 0 4px 30px rgba(0 , 0 , 0 , 0.1);
    text-align: center;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    margin-top: 20px;
 }
 .glass h2{
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
 }
.content{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
#demo{
    
}
@media (max-width: 835px){
    .overviewContainer{
        width: 100vw;
    }
    .content{
        flex-direction: column;
    }
    .key-features{
        display: block;
    }
    .glass{
        margin-top:50px ;
    }
}
@media (max-width: 582px){
    .glass{
        width: 90vw;
    }
}
@media (max-width: 330px) {
    .glass{
        height: 60vh;
    }
    
}

.nom_example{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(20px);
    margin-top: 20px;
    width: 97%;
    height: 97%;
    background-color: #242424;

}
.card {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
#engine_core {
    background-color: rgba(249, 249, 249, 0.21);
}

.handing_1{
    align-items: flex-start;
    margin: 15%;
}
