@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
.content_quick{

    max-width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1px;
    border-radius: 8px;
    text-align: center;
}
.content_quick h1{
    text-align: center;
    width: 100vw;
    margin: 1%;
    color: #768576;
}
.content_quick h2{
    text-align: center;
    width: 100vw;
    margin: 1%;
    color: rgba(208, 174, 243, 0.56);
}
.QS{
    font-family: Montserrat, serif;
    color: #0092CB;
    margin-bottom: 60px;
    font-size: 60px;
}
.PTL-content{
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.PTL-content p{
    width: 80vw;
    margin: 10px;
    text-align: center;
    font-size: 17px;

}
.nm1{
    color: #fdd635;
    font-size: 20px;
    font-style: italic;
}
.nm{
    color: #177a25;
    font-size: 20px;
    font-style: italic;
}
.nm4{
    color: #eac964;
    font-size: 20px;
    font-style: italic;
}
.nm2{
    color: rgba(248, 124, 0, 0.76);
    font-size: 30px;
    padding: 10px;
    font-style: italic;
    background-color: #9fb39f;
    border-radius: 20px;
    margin: 10px;
}
.TTV{
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 15px;
    margin: 1px;
}

.benefitList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 15px;
    margin: 1px;
}

.applicationList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DQL{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DQL-list{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.DDL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DDL-list{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 1px;
}

.DCL{
    display: flex;
    flex-direction: column;
}
.DCL-list{
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}
.DML{
    display: flex;
    flex-direction: column;
}
.DML-list{
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}
.TCL{
    display: flex;
    flex-direction: column;

}
.TCL-list{
    display: flex;
    flex-direction: column;
    border-radius: 15px;

}

.content_quick h3{
    margin-top: 1px;
    margin-bottom: 1px;
}
.Queries h3{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
}
.Queries p{
    margin-left: 1px;
}
.Queries h2{
    margin-top: 1px;
    margin-bottom: 1px;
}
.Queries{
    width: 100vw;
    text-align: center;
    background-color: rgba(22, 27, 22, 0.71);
}
.Queries h1{
    text-align: center;
    width: 100vw;
    margin: 1%;
    color: #768576;
}
.Queries h2{
    text-align: center;
    width: 100vw;
    margin: 1%;
    color: rgba(208, 174, 243, 0.56);
}

.Queries p{
    width: 80vw;
    margin: 1px;
    text-align: center;
    font-size: 17px;
}