@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
.content_quick{
    max-width: 100vw;
    flex-direction: column;
    padding: 5px;
    border: 1px solid rgb(30, 31, 34);
    border-radius: 8px;
    background-color: rgba(14, 14, 14, 0.08);
}
.QS{
    font-family: Montserrat;
    color: #0092CB;
    margin-bottom: 60px;
    font-size: 60px;
}
.PTL-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.PTL-content p{
    width: 80vw;
    margin: 20px;
}
.TTV{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 15px;
    margin: 30px;
}
.benefits li{
    margin: 20px;
}
.benefitList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.application{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border-radius: 15px;
    margin: 30px;
}
.application li{
    margin: 20px;
}
.applicationList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DQL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DQL-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 15px;
    margin: 30px;
    list-style-type: square;
}
.DQL li{
    margin: 20px;
}
.DDL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DDL-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 40vw;
    border-radius: 15px;
    margin: 30px;
    list-style-type: square;
}
.DDL li{
    margin: 20px;
}
.DCL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DCL-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 40vw;
    border-radius: 15px;
    margin: 30px;
    list-style-type: square;
}
.DCL li{
    margin: 20px;
}
.DML{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DML-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 40vw;
    border-radius: 15px;
    margin: 30px;
    list-style-type: square;
}
.DML li{
    margin: 20px;
}
.TCL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TCL-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    width: 40vw;
    border-radius: 15px;
    margin: 30px;
    list-style-type: square;
}
.TCL li{
    margin: 20px;
}
.Working::marker{
    color: lightgreen;
}
.con1{
    flex-direction: row;
}
.notWorking::marker{
    color: red;
}
.content_quick h3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Queries h3{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.Queries p{
    margin-left: 15px;
}
.Queries h2{
    margin-top: 40px;
    margin-bottom: 40px;
}