*{
    margin: 0;
    padding: 0;
}
.dropdown{
    display: inline;
    position: relative;
}
.drop-down-menu{
    flex-direction: column;
    position: absolute;
    z-index: 10;
    left: 52%;
    transform: translateX(-50%);
    transition: 0.5s;
    width: 100px;
    text-align: center;
    border-radius: 0.5em;
}

.dropdown-item{
    float: none;
    padding: 0.7em ;
    margin: 0.3em ;
    border-radius: 0.5em;
    cursor: pointer;
}
.database-item{
    float: none;
    padding: 0.7em ;
    margin: 0.3em ;
    border-radius: 0.5em;
    cursor: pointer;
}
.dropdown-item:hover{
    background: #2a2d35;
}
.database-item:hover{
    background: #2a2d35;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
.handleLoad{
    /* border-radius: 18px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    float:right;
    margin-top: -2px; */
    display: none;
}
.custom-file-upload {
    border: 1px solid #353535;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #302f2f;
    color: #333;
}

.custom-file-upload:hover {
    background-color: #0e0e0e;
}
.rounded-editor {
    margin-top: 3px;
    width: 100%;
    height: 85vh;
    border-radius: 8px;
    border: 1px solid #ccc;
}
#btt {
    flex-direction: row;
}
.logout-button{
    background-color: rgba(44, 51, 51, 0);
    float:right;
    color: white;
    text-align: center;
    height: auto;
    padding: 1.0rem 1.2rem;
    text-decoration: none;
    border: 0 solid transparent;
    border-radius: 0;

}
.logout-button a:hover:not(.active) {
    background-color: #2E4F4F;
}
.logout-button:hover{
    background-color: #2E4F4F;
}

.db_select{
    display: compact;
    text-align: center;
    border-radius: 18px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.drawer-menu{
    display: flex;
    justify-content: space-between;
}